<h1>Rabobank - File Upload</h1>
<div class="fileupload">

  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
         accept=".csv"/>

</div>

<div align="center" class="outputdiv"  *ngIf="csvRecords">
      
  <table width="50%">
    <thead>
    <tr>
      <th>S.No</th>
      <th>First Name</th>
      <th>Sur Name</th>
      <th>Issue Count</th>
      <th>Date Of Birth</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let csvData of csvRecords;let i = index; ">

      <td>{{i+1}}</td>
      <td>
        <span>{{csvData.firstName}}</span>
      </td>
      <td>
        <span>{{csvData.surName}}</span>
      </td>
      <td>
        <span>{{csvData.issueCount}}</span>
      </td>
      <td>
        <span>{{csvData.dob}}</span>
      </td>

    </tr>
    </tbody>
  </table>

</div>
